p {
border: 3px solid green;
margin: 4px;
margin-right: 500px;
margin-left: 500px;
text-align: center;
background-color: green;
color: white;
}

.Bob {
    color: red;
}

.Writer {
    color: red;
}
/* Example CSS for styling li elements */
li {
    /* Add your styles here */
    list-style-type: circle; /* Remove bullets */
    margin-bottom: 10px; /* Add some spacing between list items */
    border: 2px solid blue;
    padding: 3px;
    width: 200px;
    color: black;
    background-color: lightblue;
}
